body {
	background: #fff;
	line-height: 1.4;
	margin: 0 0 100px 0;
	padding: 0 0 50px 0;
	font-size:16px;
	color: rgba(0,0,0,0.75)
}
#outer {width:100%;height:7px;background-color: #D92938;margin-bottom:40px;visibility:hidden}
#col1, #col2, #col3, #col4, #col5 {
 float:left;
 width:16.6%;
 background:#D92938;
 height:7px;
}
#col2{background: #F24E29;}
#col3{background: #D9B573;}
#col4{background: #17A67D;}
#col5{background: #197373;}
.clearer {
 height:1px;
 overflow:hidden;
 clear:both;
 margin-top:-1px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin:0;
  letter-spacing:-1px;
  /*text-transform: uppercase;*/
  font-family: "Montserrat";
}
#meta {
  margin-top:-5px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.5px;
  color: rgba(0,0,0,0.5);
  font-family: "Montserrat";
}

.contact {
  margin:10px 0 40px 0;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding:10px 0;
  font-size:14px;
  color: rgba(0,0,0,0.5);
  font-weight:400;
  font-family: "Montserrat";
}
em {
	color: #999;
}
p {
	line-height: 1.5;
	font-size:15px;
	font-weight: 100;
  font-family: "Karla";
}
ul {
	margin-bottom: 0;
}
section {
	margin-bottom: 2em;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}
.item {
	margin-bottom: 1em;
}
#resume {
	margin: 0 auto;
	max-width: 720px;
	padding: 0 20px;
}
h2 {
  text-transform:uppercase;
  margin-bottom:1em;
  color: #00ab6b;
  font-size:16px;
  font-weight:600;
  font-family: "Montserrat";
}
h3 {
  font-size:18px;
  margin-bottom:0;
  font-weight:700;
  font-family: "Karla";
  letter-spacing: -0.5px;
}
.highlights li {
  font-family: "Karla";
  margin-bottom:0.75em;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
}
#work {
  margin-top:3em;
}
#basics {
	/* margin-bottom: -10px; */
}
#basics h3 {
	margin-top: 1.5em;
}
#basics .contact strong,
#location strong {
	clear: both;
	float: left;
	line-height: 1.3;
	width: 120px;
}
#profiles,
#skills {
	overflow: hidden;
}
#profiles .item,
#skills .item {
	float: left;
	width: 50%;
}

.details span {
  font-weight:400;
  color: rgba(0,0,0,0.45);
  font-family: "Karla";
  letter-spacing: -0.5px;
}

.highlights {
  margin-bottom:40px;
}
.website a {
  font-size:14px;
  color: #ff5164;
}
.url a{
  font-family: "Roboto";
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
